.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.img-fluid {
    width: 1000%;
    height: 80%;
    opacity: 40%;
    border-radius: 8%;
}
.fa-usps {
  font-size: 32px;
}
.fa-mobile-alt {
  font-size: 32px;
}
.container {
  box-shadow: 4px,3px;
}
.login{
  margin-top: 100px;
  margin-bottom: 100px;
}
.otp {
  padding-bottom: 50px;
  padding-top: 50px;
}

