<section class="login m-5">
<div class="container d-flex align-items-center justify-content-center "
 style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 ">


 
            <div class="row justify-content-between  section-padding">
                <div class=" col-xl-12 col-lg-12 col-sm-12">
                    <div class="single-footer pb--40">
                        <div class="footer-contact m-5">
                            <p><span class="label fw-bold fs-6 text-primary">Address:</span><span class="text fs-6">Padamugal , 
                                Kochi , Kerala <br> India PIN : 695 612</span></p>
                            <p><span class="label fw-bold fs-6 text-primary">Phone:</span><span class="text fs-6">&nbsp; +91 8075871460</span></p>
                            <p><span class="label fw-bold fs-6 text-primary">Email:</span><span class="text fs-6">&nbsp&nbsp Support@bookleaves.com</span></p>
                        </div>
                    </div>
                </div>
             </div>
  


  </div>
  </section>


   <div class="mt-5 col-xl-12 col-lg-12 col-sm-12 container text-center">
                            <P class="mt-5">Enjoy our wide range of online collection, from newspapers and magazines like New Scientist, 
                                The Economist, Vogue and Harper's Bazaar, to bestselling graphic novels, academic journals, 
                                research publications, novels and books by award-winning authors. </P>
                                <br>

                               <h3 class="text-center">Online study resources</h3> 
                               <p>
                               Empower yourself with books, journals and eBooks from trusted publishers in all academic subject areas, 
                               along with powerful research tools.
                               </p>
                               <br>
                               <h3 class="text-center"> Read a magazine or newspaper</h3> 
                               <p>
                              
                                Stay updated with the world’s largest newsstand on your mobile device, with instant access to nearly 6,000 
                                newspapers and magazines from over 100 countries.
                               </p>
                               <br>
                               <h3 class="text-center"> Online entertainment</h3> 
                               <p>
    
                            Experience the thrill of live performances with our online movies, plays,
                            and music concerts that you can watch anywhere, anytime.
                               </p>
                               <br>
                               <h3 class="text-center"> E-books and audiobooks</h3> 
                               <p>
                            Explore our vast collection of books ranging from fiction to non-fiction, plays, 
                            self-development and more that you can read or listen to.
                               </p>
                                <br>
                               <h3 class="text-center"> Self-development training resources</h3> 
                               <p>            
                            Upgrade your skills with unlimited access to thousands of short video tutorials on using popular 
                            software applications, such as Adobe CC, Microsoft, and more.
                               </p>
                                <br>
                               <h3 class="text-center"> Comics and graphic novels</h3> 
                               <p>            
                            
                            Get your kids unlimited access to more than 2,500 digital comics and graphic novels - from Ultraheroes, 
                            Starwars to Disney comics and more.
                               </p>
                                </div>