{{!-- 



<div class="row outer container d-flex align-items-center justify-content-center col-12 col-md-12 col-sm-12 col-lg-12 text-center"
 style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">


<form class="m-5 row col-12 col-md-6 col-sm-8 col-lg-12" id="userform" method="post" action="/u-login">

  {{#if errorMessage }}
                                    <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                        <div class="alert alert-danger">
                                            {{ errorMessage }}
                                        </div>
                                    </div>
                                {{/if }}

                                {{#if successMessage }}
                                    <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                        <div class="alert alert-success">
                                            {{ successMessage }}
                                        </div>
                                    </div>
                                {{/if }}

  <div class="avc" >
    <label for="exampleInputEmail1" class="form-label fs-5 font-weight-bold text-success">Email address</label>
    <input type="email" name="user_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3 mt-5">
    <label for="exampleInputPassword1" class="form-label fs-5 font-weight-bold text-success">Password</label>
    <input type="password" name="user_password" class="form-control" id="exampleInputPassword">
  </div>
  

  <button type="submit" onclick="validateForm()" class="btn btn-success">Login</button>

  </form>

<h3 class="text-justify text-center">OR </h3>

<form class="m-5 row" id="otpform" method="post" action="/u-login/u-login-otp">
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label fs-5 font-weight-bold text-success">Mobile Number</label>
    <input type="number" name="user_number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">OTP will send to above number for login (don't use contry code)</div>
  </div>

  <button type="submit" onclick="validateOtpForm()" class="btn btn-success">Login</button>
  <div class="text" style="padding-top: 15px;"> <a style="font-style:italic; color: red;" href="/u-signup"> Need To Register ?</a> </div>
</form>
</div> --}}

{{!-- 
ddddddddddddddddddddddddddd --}}

<div class="login-page">
  <div class="form">

      {{#if errorMessage }}
                                    <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                        <div class="alert alert-danger text-center">
                                            {{ errorMessage }}
                                        </div>
                                    </div>
                                {{/if }}

                                {{#if successMessage }}
                                    <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                        <div class="alert alert-success text-center">
                                            {{ successMessage }}
                                        </div>
                                    </div>
                                {{/if }}

    <form class="login-form" id="userform" method="post" action="/u-login">
      <input type="email" name="user_email" id="exampleInputEmail1"  id="exampleInputEmail1" placeholder="Email"/>
      <input type="password" name="user_password" placeholder="Password"/ id="exampleInputPassword">
      <button type="submit" onclick="validateForm()" class="btn btn-success">Login</button>
      <p class="message">Not registered? <a href="/u-signup">Create an account</a></p>
    </form>

    <h3 class="text-justify text-center mt-3 mb-3">OR </h3>

    <form class="login-form" id="otpform" method="post" action="/u-login/u-login-otp">
    <input type="number" name="user_number" class="form-control" id="exampleInputEmail1" placeholder="Mobile Number"/>
    <div id="emailHelp" class="form-text mb-3">OTP will send to above number for login (don't use contry code)</div>
      <button type="submit" onclick="validateForm()" class="btn btn-success">Login</button>
      <p class="message">Not registered? <a href="/u-signup">Create an account</a></p>
    </form>

  </div>
</div>


<style>

 @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  {{!-- max-width: 300px; --}}
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
{{!-- body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
} --}}

</style>
